<?xml version="1.0" encoding="UTF-8"?>
<!-- Graphics Display Configuration file-->
<display config="window">
    <title>
        Spiky-Engine : pre-Alpha
    </title>
    <position x="100" y="100"/>
    <resolution w="1000" h="800"/>
    <mouse frozen="false"
           visible="false"/>
</display>
